In [100]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error,mean_squared_error,f1_score,precision_score
import plotly.graph_objects as go
from sklearn import svm

In [101]:
covid_raw_data = pd.read_csv("full_covid_data.csv")

In [102]:
clean_data = covid_raw_data.iloc[0:440,0:10]

In [103]:
clean_data.set_index('Date',inplace=True)

In [104]:
clean_data

,Confirmed Cases,Confirmed Deaths,Maximum,Minimum,Average,City,Lat,Long,Population
Date,,,,,,,,,
2/1/20,0,0,75,31,53.0,1,30.334320,-97.785356,1273954
2/2/20,0,0,77,31,54.0,1,30.334320,-97.785356,1273955
2/3/20,0,0,73,54,63.5,1,30.334320,-97.785356,1273956
2/4/20,0,0,79,47,63.0,1,30.334320,-97.785356,1273957
2/5/20,0,0,47,34,40.5,1,30.334320,-97.785356,1273958
...,...,...,...,...,...,...,...,...,...
5/16/20,61212,2814,67,50,58.5,4,41.841448,-87.816588,5150338
5/17/20,62218,2839,68,53,60.5,4,41.841448,-87.816588,5150339
5/18/20,63690,2889,64,53,58.5,4,41.841448,-87.816588,5150340
5/19/20,64691,2980,59,52,55.5,4,41.841448,-87.816588,5150341
5/20/20,66213,3074,66,53,59.5,4,41.841448,-87.816588,5150342

In [105]:
y = clean_data["Confirmed Cases"]

In [106]:
X = clean_data.drop(["Confirmed Cases"],axis=1)

In [107]:
X

,Confirmed Deaths,Maximum,Minimum,Average,City,Lat,Long,Population
Date,,,,,,,,
2/1/20,0,75,31,53.0,1,30.334320,-97.785356,1273954
2/2/20,0,77,31,54.0,1,30.334320,-97.785356,1273955
2/3/20,0,73,54,63.5,1,30.334320,-97.785356,1273956
2/4/20,0,79,47,63.0,1,30.334320,-97.785356,1273957
2/5/20,0,47,34,40.5,1,30.334320,-97.785356,1273958
...,...,...,...,...,...,...,...,...
5/16/20,2814,67,50,58.5,4,41.841448,-87.816588,5150338
5/17/20,2839,68,53,60.5,4,41.841448,-87.816588,5150339
5/18/20,2889,64,53,58.5,4,41.841448,-87.816588,5150340
5/19/20,2980,59,52,55.5,4,41.841448,-87.816588,5150341
5/20/20,3074,66,53,59.5,4,41.841448,-87.816588,5150342

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.1)

In [109]:
reg = linear_model.Lasso(alpha=0.1)

In [110]:
reg

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [111]:
reg.fit(X_train,y_train)

/Users/davidfesenmaier/.local/share/virtualenvs/project_3-paKtD1_P/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:474: ConvergenceWarning:

Objective did not converge. You might want to increase the number of iterations. Duality gap: 2286050579.5470037, tolerance: 87535325.88626568

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [112]:
y_predict = reg.predict(X_test)

In [113]:
reg.score(X_test,y_test)

0.9901211299248301

In [114]:
print(y_predict)

[   532.78888029   2599.56108187   -518.60844043  12134.37638712
   4509.62117073 183849.53956465   8885.871864     8589.17360928
  -5830.83391297   6323.66028582  -6275.91558439   -387.60708252
  -2067.16000212 195740.94598229   1061.68106197   6761.88031528
   -910.11033601 183897.88404409   4792.48826884  73660.79487319
  -1227.38479936    857.39568666  -5998.79100668  -7189.59890667
   9089.27499681   2062.70344148 159481.53039312  23832.36051495
   5202.6111905   27120.65464993  -1280.97429656   5520.68469424
   9208.99312785  -2922.05832381   1882.50218728   6119.7337673
  18721.66870517   1236.98831152   4766.61602603  21246.78864725
   2603.76340695    959.96626132   1352.22691166  16194.48176432]

In [115]:
print(y_test)

Date
2/7/20          1
4/12/20       744
2/21/20         1
3/19/20       278
4/9/20        597
5/7/20     180216
5/16/20      7426
5/14/20      7290
2/21/20         0
4/15/20      4620
2/14/20         0
2/12/20         1
2/18/20         1
5/16/20    191600
2/1/20          0
3/16/20        62
2/29/20         0
5/10/20    184417
4/14/20      4549
4/7/20      76876
2/9/20          1
4/2/20        351
2/13/20         0
2/5/20          0
5/15/20      7325
2/27/20         0
4/25/20    155113
4/26/20     30574
4/22/20      5379
5/5/20      45223
4/18/20      1074
2/16/20         2
3/10/20        11
2/4/20          1
4/20/20      1108
4/30/20      6207
4/21/20     23181
3/3/20         21
3/14/20       269
4/25/20     29058
5/12/20      2235
4/2/20       2656
3/30/20       206
3/27/20     25573
Name: Confirmed Cases, dtype: int64

In [116]:
mean_squared_error(y_test,y_predict)

26045221.38252528

In [117]:
y_test_mean = y_test.mean()

In [118]:
y_test

Date
2/7/20          1
4/12/20       744
2/21/20         1
3/19/20       278
4/9/20        597
5/7/20     180216
5/16/20      7426
5/14/20      7290
2/21/20         0
4/15/20      4620
2/14/20         0
2/12/20         1
2/18/20         1
5/16/20    191600
2/1/20          0
3/16/20        62
2/29/20         0
5/10/20    184417
4/14/20      4549
4/7/20      76876
2/9/20          1
4/2/20        351
2/13/20         0
2/5/20          0
5/15/20      7325
2/27/20         0
4/25/20    155113
4/26/20     30574
4/22/20      5379
5/5/20      45223
4/18/20      1074
2/16/20         2
3/10/20        11
2/4/20          1
4/20/20      1108
4/30/20      6207
4/21/20     23181
3/3/20         21
3/14/20       269
4/25/20     29058
5/12/20      2235
4/2/20       2656
3/30/20       206
3/27/20     25573
Name: Confirmed Cases, dtype: int64

In [96]:
y_predict

array([ -1243.13905876,   6023.0804711 ,   7320.55574269,   1167.37655469,
        -2192.53393215,   2069.95345869,  12577.07040854,   4741.85445933,
       194742.04630013,   1931.38309065,   6563.57674414,  -3328.29373297,
         3767.9035907 ,   7797.10166826,   3283.3998822 ,  21228.09601885,
        30588.01007259,    379.19695413,   5979.66836942, 173374.82028266,
        13181.12296111,   9120.49320255,  10632.54294118,   6629.25716196,
         2684.81361549,  34042.24713358,   1919.35885929,   1308.33313403,
         9103.84435716,   9925.82897154, 181895.50547312,  40294.86450294,
        -3502.16554493,   9405.85794174,  -1778.44105604,  11249.93534118,
         4155.1509127 , 112824.64720866,   4364.4400702 , 146427.39651325,
         -562.70639308,   1392.39062015,   -847.05634683,   1518.77357438])

In [97]:
predict_df = pd.DataFrame({
    "y_test":y_test,
    "y_predict":y_predict})

In [98]:
predict_df

         y_test      y_predict
Date
4/16/20     977   -1243.139059
5/14/20    2345    6023.080471
3/24/20   14904    7320.555743
3/9/20        0    1167.376555
4/14/20     856   -2192.533932
5/11/20    2171    2069.953459
3/8/20        7   12577.070409
2/27/20       2    4741.854459
5/17/20  192593  194742.046300
2/18/20       0    1931.383091
2/8/20        2    6563.576744
2/2/20        0   -3328.293733
4/21/20    1174    3767.903591
3/14/20      50    7797.101668
2/5/20        0    3283.399882
4/24/20   27616   21228.096019
5/3/20    42324   30588.010073
3/5/20       51     379.196954
2/7/20        2    5979.668369
5/1/20   169690  173374.820283
3/28/20    2613   13181.122961
3/24/20    1194    9120.493203
3/12/20      27   10632.542941
3/21/20    7530    6629.257162
3/28/20    2077    2684.813615
5/12/20   55470   34042.247134
4/29/20    1539    1919.358859
3/21/20     934    1308.333134
5/17/20    7472    9103.844357
2/23/20       2    9925.828972
5/9/20   183289  181895.505473
5/19/20   64691   40294.864503
4/4/20      430   -3502.165545
3/31/20    4496    9405.857942
2/3/20        1   -1778.441056
4/5/20     8034   11249.935341
3/15/20     269    4155.150913
4/13/20  106763  112824.647209
4/9/20      597    4364.440070
4/22/20  142227  146427.396513
3/8/20       83    -562.706393
3/3/20       21    1392.390620
4/3/20      351    -847.056347
2/1/20        0    1518.773574

In [99]:
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

NameError: name 'clf' is not defined